* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #f2f2f2;
}

.container-fluid {
    position: relative;
    padding: 0;
    width: 100%;
}

/************************************* DASHBOARD ***********************************/
/********** sidenav **********/
.sidenav {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);

}

.sidenav img {
    width: 200px;
    margin-top: 20px;

}
.side-nav-text
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.sidenav a {
    margin-top: 20px;
    color: #686767;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 10s ;
}

.sidenav .dropdown-btn {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #686767;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    /* transition-timing-function: ease-in-out; */
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: #2b2323;
}

.active {
    background-color: green;
    color: white;
}

.dropdown-container {
    display: none;
    margin-top: 10px;
    background-color: #fafafa;
    padding-left: 8px;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}

.dropdown-contain {
    display: flex;
    flex-direction: column;
}

.dropdown-contain a {

    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}




/*********** main body **********/
.body-container {
    margin-left: 20%;
    width: 80%;
}

/********** navbar *************/
.navbar {
    margin-top: 5px;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 1px 0 rgba(0, 0, 0, 0.19);

}

.navbar-brand {
    font-weight: 600;
    font-size: x-large;
}
.profile-image
{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: red;
    border: 2px solid blue;
    
}
.profile-image img
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}


/********* body ***********/
.body-page {
    margin-top: 20px;
    width: 100%;
}
.f-col
{
    /* background-color: red; */
}
.inner-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* align-content: center; */
    background-color: white;
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    margin-left: 20px;
    padding: 50px 10px 50px 30px;
}
.inner-box:hover
{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;

}

.inner-box h1
{
    font-weight: 800;
}

.inner-box h4
{
    font-weight: bolder;
}

/************************************* CONTACT ***********************************/
.contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fafafa; */
    width: 80%;
    width: 100%;
    height: 70vh;
}
.text-box 
{
    height: 63vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;

}
.fill-contact label
{
    font-size: 0.7rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fill-contact input, 
.fill-contact textarea
{
    border: none;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 4px;
    padding: 2px 4px;
}
.fill-contact input::placeholder
{
    
}
.fill-space
{

}
input, textarea
{
    width: 100%;
}
.info-box
{
    height: 70vh;
    border-radius: 7px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.19);

}

/* footer */
footer
{
    text-align: center;
    bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: #828bb2;
}
.footer a
{
    text-decoration: none;
}