.body-page {
    margin-top: 20px;
    width: 100%;
    padding: 0;
}
.upper-body{
    width: 100%;
    margin: 0;
}

.f-col {
    width: 100%;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
    padding: 50px 10px 50px 30px;
}

.inner-box:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;

}

.inner-box h1 {
    font-weight: 800;
}

.inner-box h4 {
    font-weight: bolder;
}