* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #f2f2f2;
}

.container-fluid {
    position: relative;
    padding: 0;
    width: 100%;
}

/************************************* DASHBOARD ***********************************/
/********** sidenav **********/
.sidenav {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;

}

.sidenav .closebtn {
    display: none;
}

.side-nav-text {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.sidenav a {
    margin-top: 20px;
    color: #686767;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.8s;
}


.sidenav-header {
    font-family: cursive;
    font-size: xx-large;
    font-weight: 600;
    color: black;
}

.sidenav .dropdown-btn {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #686767;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.side-nav-text a:hover {
    color: #000000;
}

.dropdown-btn:hover {
    color: #000000;
}

.active {
    background-color: green;
    color: white;
}

.dropdown-container {
    display: none;
    margin-top: 10px;
    transition: 0.8s;
    background-color: #fafafa;
    padding-left: 8px;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}

.dropdown-contain {
    display: flex;
    flex-direction: column;
}

.dropdown-contain a {

    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}



/*********** main body **********/
.body-container {
    margin-left: 20%;
    width: 80%;
}

/********** navbar *************/
.navbar {
    /* margin-top: 5px; */
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 1px 0 rgba(0, 0, 0, 0.19);

}

.slide-show-button {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.navbar-brand {
    font-weight: 600;
    font-size: x-large;
}

.profile-image {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: red;
    border: 2px solid blue;

}

.profile-image img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}


/********* body ***********/
.body-page {
    margin-top: 20px;
    width: 100%;
}

.f-col {
    /* background-color: red; */
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* align-content: center; */
    background-color: white;
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    margin-left: 20px;
    padding: 50px 10px 50px 30px;
}

.inner-box:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;

}

.inner-box h1 {
    font-weight: 800;
}

.inner-box h4 {
    font-weight: bolder;
}




@media screen and (min-width: 1200px) {
    .destop-display
    {
        display: block;
    }
    .media-display
    {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    .destop-display
    {
        display: none;
    }
    .media-display
    {
        display: block;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: -12px;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.6s;
    }

    .slide-show-button {
        display: block;
        transition-delay: all 0.4s ease-in;
    }

    .sidenav .closebtn {
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .body-container {
        margin-left: 5px;
        width: 100%;
        transition: all 0.5s ease-in-out;

    }
    .sidenav-header 
    {
        margin-left: 20px;
    }
    .side-nav-text 
    {
        padding-left: 13px;
    }
    .sidenav .closebtn {
        top: -10px;
        right: 10px;
        font-size: 40px;
        margin-left: 30px;
    }
    .side-nav-text {
        margin-top: 5px;
    }
}

@media screen and (max-width: 767px) {
    .sidenav-header
    {
        font-size: 1.3rem;
    }
    .side-nav-text a, 
    .sidenav .dropdown-btn
    {
        font-size: 0.9rem;
    }
    .sidenav .closebtn {
        top: -8px;
        right: 10px;
        font-size: 30px;
        margin-left: 30px;
    }
    .side-nav-text {
        margin-top: 5px;
    }

}
@media screen and (max-width: 570px) {
    .sidenav-header
    {
        font-size: 1.1rem;
    }
    .side-nav-text a, 
    .sidenav .dropdown-btn
    {
        font-size: small;
    }
    .sidenav .closebtn {
        top: -5px;
        right: 10px;
        font-size: 25px;
        margin-left: 30px;
    }
    .side-nav-text {
        margin-top: 5px;
    }

}

@media screen and (max-width: 390px) {
    .sidenav-header
    {
        font-size: 0.9rem;
    }
    .side-nav-text a, 
    .sidenav .dropdown-btn
    {
        font-size: small;
    }
    .sidenav .closebtn {
        top: -6px;
        right: 10px;
        font-size: 20px;
        margin-left: 30px;
    }
    .side-nav-text {
        margin-top: 5px;
    }


}

@media screen and (max-width: 350px) {
    .sidenav-header
    {
        font-size: 0.8rem;
    }
    .side-nav-text 
    {
        padding-left: 5px;
    }
    .side-nav-text a, 
    .sidenav .dropdown-btn
    {
        font-size: 0.6rem;
    }
    .sidenav .closebtn {
        top: -7px;
        right: 10px;
        font-size: 20px;
        margin-left: 30px;
    }
    .side-nav-text {
        margin-top: 5px;
    }


}
