*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body
{
    overflow-x: hidden;
}
.container-fluid
{
    display: grid;
    place-content: center;
    background-color: #f2f2f2;
    width: 100%;
    height: 100vh;
}
.login-box
{
    background-color: white;
    width: 70vw;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
.login-head{
    text-align: center;
    font-weight: 800;
}
.login-img
{
    width: 100%;
    height: 100%;
}
/* form
{
    width: 50vw;
    height: 50vh;
    background-color: red;
}*/
input
{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}
input:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.btn
{
    width: 100%;
}
.login-line
{
    display: flex;
    flex-direction: row;
}
.login-or
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 100%;
    width: 10%;
    background-color: #f2f2f2;
    color: blue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);

}
.other
{
    text-align: right;
}
.sign-text
{
    font-weight: 600;
    text-align: left;
}
form a
{
    font-weight: 600;

}